.prestamo-form {
    max-width: 400px;
    margin: 12px auto;
    padding: 20px;
    border: 1px solid #8dff64;
    border-radius: 40px;
    background-color: #8dff64;
  }
  
  .prestamo-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #10c21e;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  